body{
font-family:Rockwell;
margin:0;
background-color: #c9cc66;
}

.container{
display:flex;
align-items:center;
gap: 80px;
padding:60px;
}

.image{
position:absolute;
left:40px;
}

.image img{
width:350px;
}

.text{
margin-left:450px;
max-width:600px;
}

.text h1{
color:#2b8c8c;
}

button{
margin-top:20px;
padding:12px 25px;
background-color:#f5b942;
border:none;
cursor:pointer;
}